<div class="jumbotron text-center">
    <h1>Welcome to Medienpunks</h1>
    <h3>A membership site where entrepreneurs meet developers.</h3>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h2 class="text-center">Basic Membership</h2>
            <h4>Sign up for free to the community.</h4>
            <br/>
            <%= link_to "Sign Up Basic", new_user_registration_path, class: 'btn btn-primary btn-lg btn-block' %>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well">
            <h2 class="text-center">Pro Membership</h2>
            <h4>Sign up for the Pro account at 10$/month to see everyones contacts.</h4>
            <%= link_to "Sign Up Pro", new_user_registration_path, class: 'btn btn-success btn-lg btn-block' %>
        </div>
    </div>
</div>
