<!DOCTYPE html>
<html>
    <head>
        <!-- add stylesheets and so on -->
    </head>
    <body>
        <p>You have received a message from MEDIENPUNKS Contact form.</p>
        <p>It's from <%= "#{ @name }, #{ @email }." %></p>
        </br>
        <p><%= @body %></p>
    </body>
</html>